.laps{
    overflow-y: scroll;
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    flex-direction: column;
}

.watch{
    height: 33%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', monospace;
    background-color: #95d387;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.middle{
    height: 33%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        
}

.lower{
    height: 34%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        background-color: #d3b44e;
}

.time{
    font-size: 4rem;
    background-color: white;
    border-radius: 26px;
    margin: 45px;
    width: 40rem;
    text-align: center;
}

#btn {
    background-color: #efcd5d;
    border: none;
    color: black;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    font-weight: bolder;
    box-shadow:10px 10px 10px  rgb(94, 92, 92);

}

#btn:hover {

    background: white;
    border: solid 1px white;
    color: grey;
}

.lap{
    display: inline-block;
        justify-content: center;
        text-align: center;
    
        border-radius: 12px;
    
        width: 8rem;
        font-size: 20px;

}
@media only screen and (max-width: 425px) {

    .time {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .time {
        margin: 37px;
    }
}